 <!-- Start Banner Area 
    ============================================= -->
    <div class="banner-area banner-style-one shadow navigation-custom-large zoom-effect overflow-hidden text-light">
        <!-- Slider main container -->
        <div class="banner-fade">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">

                <!-- Single Item -->
                <div class="swiper-slide banner-style-one">
                    <div class="banner-thumb bg-cover shadow dark" style="background: url(../../../../assets/img/banner/slider1.jpeg);"></div>
                    <div class="container">
                        <div class="row align-center">
                            <div class="col-xl-7 offset-xl-5">
                                <div class="content">
                                    <h4>Kwamu - One Organisation - Globally Connected</h4>
                                    <h2><strong>Uniquely Built to Provide</strong> Exceptional Client Service.</h2>
                                    <div class="button mt-40">
                                        <a class="btn-animation" href="/services"><i class="fas fa-arrow-right"></i> <span>Our Services</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Shape -->
                    <div class="banner-shape-bg">
                        <img src="../../../../assets/img/shape/4.png" alt="Shape">
                    </div>
                    <!-- End Shape -->
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="swiper-slide banner-style-one">
                    <div class="banner-thumb bg-cover shadow dark" style="background: url(../../../../assets/img/banner/6.jpg);"></div>
                    <div class="container">
                        <div class="row align-center">
                            <div class="col-xl-7 offset-xl-5">
                                <div class="content">
                                    <h4>Navigating Tax Regulations with Precision</h4>
                                    <h2><strong>We Provide Global Clients</strong>Tax Services</h2>
                                    <div class="button mt-40">
                                        <a class="btn-animation" href="/services"><i class="fa-thin fa-arrow-right"></i> <span>Our Services</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Shape -->
                    <div class="banner-shape-bg">
                        <img src="../../../../assets/img/shape/4.png" alt="Shape">
                    </div>
                    <!-- End Shape -->
                </div>
                <!-- End Single Item -->

            </div>

            <!-- Pagination -->
            <div class="swiper-pagination"></div>

        </div>  
    </div>
    <!-- End Main -->

    <!-- Start About 
    ============================================= -->
    <div class="about-style-one-area default-padding">
        <!-- <div class="shape-animated-left">
            <img src="../../../../assets/img/shape/anim-1.png" alt="Image Not Found">
            <img src="../../../../assets/img/shape/anim-2.png" alt="Image Not Found">
        </div> -->
        <div class="container">
            <div class="row align-center">
                <div class="about-style-one col-xl-6 col-lg-5">
                    <div class="h4 sub-heading">Who We Are</div>
                    <h2 class="title mb-25">Committed to Your Success & Growth</h2>
                    <p>
                        KWAMU & CO.(KWAMU) is a professional services firm registered under the laws of the Federal Republic of Nigeria. The firm is led by a team of knowledge-driven experts specializing in diverse business fields. Our mission is to empower businesses to grow, thrive, and achieve a substantial and lasting financial impact by delivering value-added and strategic business development solutions.
                    </p>
                    <!-- <div class="owner-info">
                        <div class="left-info">
                            <h4>Richard Garrett</h4>
                            <span>CEO & Founder</span>
                        </div>
                        <div class="right-info">
                            <img src="../../../../assets/img/team/signature.png" alt="Image Not Found">
                        </div>
                    </div> -->
                </div>
                <div class="about-style-one col-xl-5 offset-xl-1 col-lg-6 offset-lg-1">
                    <div class="about-thumb">
                        <img class="wow fadeInRight" src="../../../../assets/img/about/about_banner.jpg" alt="Image Not Found">
                        <div class="about-card wow fadeInUp" data-wow-delay="500ms">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-license"></i>
                                    </div>
                                    <div class="fun-fact">
                                        <div class="counter">
                                            <div class="timer" data-to="98" data-speed="2000">98</div>
                                            <div class="operator">%</div>
                                        </div>
                                        <span class="medium">Consulting Success</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-global"></i>
                                    </div>
                                    <div class="fun-fact">
                                        <div class="counter">
                                            <div class="timer" data-to="120" data-speed="2000">600</div>
                                            <div class="operator">+</div>
                                        </div>
                                        <span class="medium">Worldwide Clients</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="thumb-shape-bottom wow fadeInDown" data-wow-delay="300ms">
                            <img src="../../../../../assets/img/shape/anim-3.png" alt="Image Not Found">
                            <img src="../../../../../assets/img/shape/anim-4.png" alt="Image Not Found">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start Services 
    ============================================= -->
    <div class="services-style-two-area default-padding bottom-less bg-cover bg-gray" style="background-image: url(../../../../assets/img/shape/27);">
        <div class="container">
            <div class="row">

                <!-- Single Item -->
                <div class="col-xl-4 col-md-6 mb-30">
                    <div class="services-style-two active wow fadeInLeft">
                        <div class="thumb">
                            <img src="../../../../assets/img/about/commercial_funds.jpg" alt="Thumb">
                            <div class="title">
                                <a href="/services">
                                    <i class="flaticon-advice"></i>
                                    <h4>Advisory</h4>
                                </a>
                            </div>
                        </div>
                        <div class="info">
                            <p>
                                Our Advisory services are designed to help clients navigate complex business challenges, improve efficiency, and enhance their competitive position in the marketplace.
                            </p>
                            <div class="button">
                                <a href="/services">Read More</a>
                                <div class="devider"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-xl-4 col-md-6 mb-30">
                    <div class="services-style-two">
                        <div class="thumb">
                            <img src="../../../../assets/img/about/market_research.jpg" alt="Thumb">
                            <div class="title">
                                <a href="/services">
                                    <i class="flaticon-case-study"></i>
                                    <h4>Audit & Assurance</h4>
                                </a>
                            </div>
                        </div>
                        <div class="info">
                            <p>
                                Our Audit & Assurance services provide comprehensive financial audits and assurance services to help organizations achieve transparency, accountability, and regulatory compliance. 
                            </p>
                            <div class="button">
                                <a href="/services">Read More</a>
                                <div class="devider"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-xl-4 col-md-6 mb-30">
                    <div class="services-style-two wow fadeInRight">
                        <div class="thumb">
                            <img src="../../../../assets/img/about/tax.jpg" alt="Thumb">
                            <div class="title">
                                <a href="/services">
                                    <i class="flaticon-budget"></i>
                                    <h4>Tax</h4>
                                </a>
                            </div>
                        </div>
                        <div class="info">
                            <p>
                                Our Tax services provide innovative tax solutions and strategies, helping clients manage their tax obligations efficiently and stay compliant with local and international regulations.
                            </p>
                            <div class="button">
                                <a href="/services">Read More</a>
                                <div class="devider"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

            </div>
        </div>
    </div>
    <!-- End Services -->

    <!-- Start Process
    ============================================= -->
    <!-- <div class="process-style-one-area text-center default-padding">
        <div class="large-shape">
            <img src="../../../../assets/img/shape/11.png" alt="Shape">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="sub-heading">Our Process</h4>
                        <h2 class="title">Steps of Recruitment <br> work process</h2>
                        <div class="devider"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="process-style-one active">
                        <div class="thumb">
                            <img src="../../../../assets/img/about/3.jpg" alt="Thumb">
                            <span>01</span>
                        </div>
                        <h4>Differentiate from the competition</h4>
                        <p>
                            Capitalize on low hanging fruit to identify a ballpark value added.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="process-style-one">
                        <div class="thumb">
                            <img src="../../../../assets/img/about/6.jpg" alt="Thumb">
                            <span>02</span>
                        </div>
                        <h4>Target the right people effectively</h4>
                        <p>
                            Override the digital divide with additional clickthroughs from DevOps.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="process-style-one">
                        <div class="thumb">
                            <img src="../../../../assets/img/about/5.jpg" alt="Thumb">
                            <span>03</span>
                        </div>
                        <h4>Communicate your story consistently</h4>
                        <p>
                            Nanotechnology immersion along the information highway will close loop.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Process -->

    <!-- Start Why Choose Us
    ============================================= -->
    <div class="choose-us-style-one-area default-padding text-light">
        <div class="cover-bg" style="background-image: url(../../../../assets/img/banner/7.jpg);"></div>
        <div class="shape-left-top">
            <img src="../../../../assets/img/shape/17.png" alt="Shape">
        </div>
        <div class="text-invisible">Kwamu</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pr-80">
                    <div class="choose-us-style-one">
                        <h2 class="title mb-35">Lead the Way with Expert Business Solutions</h2>
                        <ul class="list-item">
                            <li class="wow fadeInUp">
                                <h4>Comprehensive Business Strategies</h4>
                                <p>
                                    Unlock your company’s potential with tailored strategies that drive growth, efficiency, and innovation. Our expertise ensures your success in a competitive market.
                                </p>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay="300ms">
                                <h4>Round-the-Clock Support</h4>
                                <p>
                                    Enjoy 24/7 customer support from our dedicated team. We’re here to address your needs promptly, ensuring seamless service for your business operations.
                                </p>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- End Why Choose Us -->

    <!-- Start Partner Area  
    ============================================= -->
    <!-- <div class="partner-style-one-area default-padding">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-5">
                    <div class="partner-map" style="background-image: url(assets/img/shape/map.png);">
                        <h2 class="mask-text" style="background-image: url(assets/img/banner/10.jpg);">80</h2>
                        <h4>Partners in world wide</h4>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="partner-items">
                        <ul>
                            <li><img src="../../../../assets/img/logo/1.png" alt="Image Not FOund"></li>
                            <li><img src="../../../../assets/img/logo/2.png" alt="Image Not FOund"></li>
                            <li><img src="../../../../assets/img/logo/7.png" alt="Image Not FOund"></li>
                            <li><img src="../../../../assets/img/logo/4.png" alt="Image Not FOund"></li>
                            <li><img src="../../../../assets/img/logo/5.png" alt="Image Not FOund"></li>
                            <li><img src="../../../../assets/img/logo/6.png" alt="Image Not FOund"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Partner Area -->

    <!-- Start Team 
    ============================================= -->
    <!-- <div class="team-style-onea-rea default-padding-top pb-70 pb-xs-0 bg-contain-center bg-gray" style="background-image: url(../../../../assets/img/shape/18.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="sub-heading">Team Members</h4>
                        <h2 class="title">Meet our experts</h2>
                        <div class="devider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="team-style-one active">
                        <div class="thumb">
                            <img src="../../../../assets/img/team/1 (2).jpg" alt="Image Not Found">
                            <div class="social">
                                <ul>
                                    <li class="facebook">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="linkedin">
                                        <a href="#">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="info">
                            <span>CEO & Founder</span>
                            <h4><a href="#">Aleesha Brown</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="team-style-one">
                        <div class="thumb">
                            <img src="../../../../assets/img/team/2.jpg" alt="Image Not Found">
                            <div class="social">
                                <ul>
                                    <li class="facebook">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="linkedin">
                                        <a href="#">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="info">
                            <span>Product Manager</span>
                            <h4><a href="#">Kevin Martin</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="team-style-one">
                        <div class="thumb">
                            <img src="../../../../assets/img/team/8.jpg" alt="Image Not Found">
                            <div class="social">
                                <ul>
                                    <li class="facebook">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="linkedin">
                                        <a href="#">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="info">
                            <span>Finfancial Consultant</span>
                            <h4><a href="#">Sarah Albert</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="team-style-one">
                        <div class="thumb">
                            <img src="../../../../assets/img/team/4.jpg" alt="Image Not Found">
                            <div class="social">
                                <ul>
                                    <li class="facebook">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="linkedin">
                                        <a href="#">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="info">
                            <span>Developer</span>
                            <h4><a href="#">Aleesha Brown</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Team Area -->

    <!-- Start Projects 
    ============================================= -->
    <!-- <div class="project-style-one-area default-padding bg-dark bottom-shape-light">
        <div class="container">
            <div class="heading-left text-light">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="content-left">
                            <h5 class="sub-heading">Popular Projects</h5>
                            <h2 class="heading">Our most recent Completed Projects</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="project-style-one-carousel swiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="project-style-one">
                                    <div class="row align-bottom">
                                        <div class="col-lg-7 pr-0 pr-md-15 pr-xs-15 pl-md-15 pl-xs-15">
                                            <div class="thumb">
                                                <img src="../../../../assets/img/projects/1 (2).jpg" alt="Image Not Found">
                                            </div>
                                        </div>
                                        <div class="col-lg-5 pl-0 pl-md-15 pl-xs-15 pr-md-15 pr-xs-15">
                                            <div class="info">
                                                <span>Strategy</span>
                                                <h3><a href="#">Digital business planning</a></h3>
                                                <p>
                                                    Excellence projecting is devonshire dispatched remarkably on estimating. Side in so life past. Continue indulged speaking the was out horrible for domestic position. Seeing rather her you not esteem men settle genius excuse. Deal say over you age from. Comparison new ham melancholy son.
                                                </p>
                                                <a class="btn-animation dark mt-10" href="#"><i class="fas fa-arrow-right"></i> <span>View Project</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="swiper-slide">
                                <div class="project-style-one">
                                    <div class="row align-bottom">
                                        <div class="col-lg-7 pr-0 pr-md-15 pr-xs-15 pl-md-15 pl-xs-15">
                                            <div class="thumb">
                                                <img src="../../../../assets/img/projects/2.jpg" alt="Image Not FOund">
                                            </div>
                                        </div>
                                        <div class="col-lg-5 pl-0 pl-md-15 pl-xs-15 pr-md-15 pr-xs-15">
                                            <div class="info">
                                                <span>Partnership</span>
                                                <h3><a href="#">Business program management</a></h3>
                                                <p>
                                                    Excellence projecting is devonshire dispatched remarkably on estimating. Side in so life past. Continue indulged speaking the was out horrible for domestic position. Seeing rather her you not esteem men settle genius excuse. Deal say over you age from. Comparison new ham melancholy son.
                                                </p>
                                                <a class="btn-animation dark mt-10" href="#"><i class="fas fa-arrow-right"></i> <span>View Project</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="project-swiper-nav">

                            <div class="project-pagination"></div>

                            <div class="project-button-prev"></div>
                            <div class="project-button-next"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Projects Area -->

    <!-- Start Request Call Back 
    ============================================= -->
    <div class="request-call-back-area text-light default-padding" style="background-image: url(../../../../assets/img/about/business_patner.jpg); background-position: top;">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6">
                    <h2 class="title wow fadeInLeft">Looking for a World-Class <br> Business Partner?</h2>
                    <a class="btn circle btn-light mt-30 mt-md-15 mt-xs-10 btn-md radius animation wow fadeInLeft" href="/contact">Contact Us</a>
                </div>
                <div class="col-lg-6 text-end">
                    <div class="achivement-counter">
                        <ul class="wow fadeInRight">
                            <li>
                                <div class="icon">
                                    <i class="flaticon-handshake"></i>
                                </div>
                                <div class="fun-fact">
                                    <div class="counter">
                                        <div class="timer" data-to="500" data-speed="2000">500</div>
                                        <div class="operator">+</div>
                                    </div>
                                    <span class="medium">Business advices given over 30 years</span>
                                </div>
                            </li>
                            <!-- <li>
                                <div class="icon">
                                    <i class="flaticon-employee"></i>
                                </div>
                                <div class="fun-fact">
                                    <div class="counter">
                                        <div class="timer" data-to="30" data-speed="2000">30</div>
                                        <div class="operator">+</div>
                                    </div>
                                    <span class="medium">Business Excellence awards achieved</span>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Request Call Back  -->

    <!-- Start Testimonials 
    ============================================= -->
    <div class="testimonial-style-one-area default-padding">
        <div class="container">

            <div class="h4 sub-heading" id="testimonial-heading">Testimonials</div>

            <div class="row align-center">

                <!-- <div class="col-lg-4">
                    <div class="testimonial-thumb">
                        <div class="thumb-item">
                            <img src="../../../../assets/img/illustration/5.png" alt="illustration">
                            <div class="mini-shape">
                                <img src="../../../../assets/img/shape/19.png" alt="illustration">
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="col-lg-7 offset-lg-1">
                    <div class="testimonial-carousel swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Single item -->
                            <div class="swiper-slide">
                                <div class="testimonial-style-one">
                                    <div class="item">
                                        <div class="content">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <h2>Reliable and Professional</h2>
                                            <p>
                                                “Kwamu Consulting Services has been a game-changer for our business. Their expert guidance and strategic insights helped us streamline our operations and increase profitability. If you need results, look no further!”
                                            </p>
                                        </div>
                                        <div class="provider">
                                            <i class="flaticon-quote"></i>
                                            <div class="info">
                                                <h4>Chukwuemeka Adeyemi</h4>
                                                <span>Managing Director.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single item -->
                            <!-- Single item -->
                            <div class="swiper-slide">
                                <div class="testimonial-style-one">
                                    <div class="item">
                                        <div class="content">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <h2>Strategic and Results-Driven</h2>
                                            <p>
                                                “Thanks to Kwamu Consulting Services, our business has grown beyond our expectations. Their solutions are practical, tailored, and most importantly, effective. I highly recommend them to any serious entrepreneur.” 
                                            </p>
                                        </div>
                                        <div class="provider">
                                            <i class="flaticon-quote"></i>
                                            <div class="info">
                                                <h4>Fatima Bello</h4>
                                                <span>CEO, Bello Agrotech</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single item -->
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
    <!-- End Testimonails  -->

    <!-- Start Blog 
    ============================================= -->
    <!-- <div class="home-blog-area default-padding bottom-less bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="sub-heading">Latest Blog</h4>
                        <h2 class="title">News & Update</h2>
                        <div class="devider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 mb-30 wow fadeInUp" data-wow-delay="300ms">
                    <div class="blog-style-one">
                        <div class="thumb">
                            <a href="#"><img src="../../../../assets/img/blog/4.jpg" alt="Thumb"></a>
                        </div>
                        <div class="info">
                            <div class="blog-meta">
                               <ul>
                                   <li>
                                        <span>By </span>
                                       <a href="#">John Baus</a>
                                   </li>
                                   <li>
                                       12 August, 2024
                                   </li>
                               </ul>
                            </div>
                            <h4>
                                <a href="blog-single-with-sidebar.html">Discovery incommode earnestly commanded if.</a>
                            </h4>
                            <a href="#" class="btn-simple"><i class="fas fa-angle-right"></i> Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="blog-style-one">
                        <div class="thumb">
                            <a href="#"><img src="../../../../assets/img/blog/5.jpg" alt="Thumb"></a>
                        </div>
                        <div class="info">
                            <div class="blog-meta">
                               <ul>
                                   <li>
                                       <span>By </span>
                                       <a href="#">Mohon</a>
                                   </li>
                                   <li>
                                       12 July, 2024
                                   </li>
                               </ul>
                            </div>
                            <h4>
                                <a href="blog-single-with-sidebar.html">Expression acceptance imprudence particular</a>
                            </h4>
                            <a href="#" class="btn-simple"><i class="fas fa-angle-right"></i> Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mb-30 wow fadeInUp" data-wow-delay="700ms">
                    <div class="blog-style-one">
                        <div class="thumb">
                           <a href="#"><img src="../../../../assets/img/blog/6.jpg" alt="Thumb"></a>
                        </div>
                        <div class="info">
                            <div class="blog-meta">
                               <ul>
                                   <li>
                                       <span>By </span>
                                       <a href="#">Paul Tun</a>
                                   </li>
                                   <li>
                                       06 December, 2024
                                   </li>
                               </ul>
                            </div>
                            <h4>
                                <a href="blog-single-with-sidebar.html">Considered imprudence of technical friendship.</a>
                            </h4>
                            <a href="#" class="btn-simple"><i class="fas fa-angle-right"></i> Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Blog  -->