<!-- Start Footer 
    ============================================= -->
<footer class="bg-dark text-light">
  <div class="footer-shape">
    <div class="item">
      <!-- <img src="../../../../../assets/img/shape/7.png" alt="Shape" /> -->
    </div>
    <div class="item">
      <img src="../../../../../assets/img/shape/9.png" alt="Shape" />
    </div>
  </div>
  <div class="container">
    <div class="f-items relative pt-70 pb-120 pt-xs-0 pb-xs-50">
      <div class="row">
        <div class="col-lg-4 col-md-6 footer-item pr-50 pr-xs-15">
          <div class="f-item about">
            <img
              class="logo"
              src="../../../../../assets/img/logo/KWAMU Logo.png"
              alt="Logo"
            />
            <p>
              At KWAMU, we believe exceptional client service begins with
              building exceptional relationships.
            </p>
            <div class="opening-hours">
              <h5>Address</h5>
              <ul>
                <li>
                  <div class="working-day">Adenekan Plaza</div>
                  <!-- <div class="marker"></div> -->
                  <!-- <div class="working-hour"></div> -->
                </li>
                <li>
                  <div class="working-day">4th Floor Wing D</div>
                </li>
                <li>
                  <div class="working-day">
                    No. 1 Adenekan Street, Off Okota Road
                  </div>
                </li>
                <li>
                  <div class="working-day">
                    Opp. Access Bank Okota, Isolo, Lagos, Nigeria.
                  </div>
                </li>

               
                <!-- <div class="marker"></div>
                                        <div class="working-hour">Off Day</div> -->
              </ul>

              <!-- <div class="opening-hours">
                <h5>Phone</h5>
                <ul>
                    <li>
                        <div class="working-day">
                          <div class="col-xl-6">
                              <ul class="item-flex">
                                <li>
                                  <i class="fa-solid fa-address-book"></i>
                                  <a href="tel:+2349033994787">+(234) 903 399 4787</a>
                                </li>
                              </ul>
                            </div>
                        </div>
                      </li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 footer-item">
          <div class="f-item link">
            <h4 class="widget-title">Quick Links</h4>
            <ul>
              <li>
                <a href="/home">Home</a>
              </li>
              <li>
                <a href="/industries">Industries</a>
              </li>
              <li>
                <a href="/services">Services</a>
              </li>
              <li>
                <a href="/about">About</a>
              </li>
              <li>
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        
        
        <div class="col-lg-2 col-md-6 footer-item">
          <div class="f-item link">
            <h4 class="widget-title">Our Services</h4>
            <ul>
              <li>
                <a href="/services">Advisory</a>
              </li>
              <li>
                <a href="/services">Audit & Assurance</a>
              </li>
              <li>
                <a href="/services">Tax</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-item">
          <div class="f-item link">
            <h4 class="widget-title">Contact</h4>
            <ul>
              <li class="contact">
                <i class="fa-solid fa-address-book"></i>
                <a href="tel:+2349033994787">+(234) 903 399 4787</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-item">
            <ul class="f-item link" style="display: flex; list-style: none; gap: 15px; padding: 0; margin: 0;">
              <li style="display: inline-block;">
                <a href="https://x.com/BDOGlobal" style="display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; border: 2px solid white;">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li style="display: inline-block;">
                <a href="https://www.youtube.com/@BDOInternational" style="display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; border: 2px solid white; position: relative; top: -10px;">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
              <li style="display: inline-block;">
                <a
                  href="https://www.linkedin.com/company/bdo-nigeria/?originalSubdomain=ng" style="display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; border: 2px solid white;position: relative; top: -10px;"
                >
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        
        
    
      </div>
    </div>
  </div>

  <!-- Start Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <p>
            &copy; Copyright 2024. All Rights Reserved by
            <a href="https://www.morrhtechsolutions.com/"
              >Morrhtech Solutions</a
            >
          </p>
        </div>
        <!-- <div class="col-lg-6 text-end">
          <ul>
            <li>
              <a href="about-us.html">Terms</a>
            </li>
            <li>
              <a href="about-us.html">Privacy</a>
            </li>
            <li>
              <a href="contact-us.html">Support</a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
  <!-- End Footer Bottom -->
</footer>
<!-- End Footer -->
